body {
  margin:0;
  padding: 0;
}

/* Style the header */
header {
  background-color: #666;
  text-align: center;
  color: white;
  margin: 0;
}
header h1{
  margin: 0;
}
header h2{
  margin: 0;
}

/* Style the navigation menu */
nav {
  display: flex;
  flex: 1;
  background: #666;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding-left: 10;
  margin: 0;
  flex: 1;
  display: flex;
}
nav ul li{
  flex-direction: column;
  padding:10px;
}
nav ul li:hover{
  float:left;
  padding:10px;
  background-color: white;
}
nav ul a{
  text-decoration: none;
  color: white;
}
nav ul a:hover{
  text-decoration: none;
  color: black;
}

/* Container for flexboxes */
section {
  background-color: #f1f1f1;
  display: flex;
}

/* Style the image*/
section img{
  width: 700px;
  height: 500px;
}

/* Style the content */
article {
  
  padding: 10px;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}
